<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subject.type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>


<%@subject.images.each do |im|%>
<%=image_tag im.image.url(:small)%>
<%end%>

<%= image_tag @subject.image_url(:small) if @subject.image? %>



<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>


