<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Registr nájmú" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>



 <body>
    <div class="row">
      <nav class="top-bar column" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="/">
               Registr
              </a>
            </h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
        </ul>



        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">

            <%if user_signed_in?%>
              <li><%=link_to current_user.email, edit_user_registration_path%></li>
              <li><%=link_to "Odhlásit", destroy_user_session_path, method: :delete%></li>
              <li><%=link_to "Předměty smlouvy", subjects_path%></li>
           

            <%end%>

              <%if lessor_signed_in?%>
              <li><%=link_to current_lessor.email, edit_lessor_registration_path%></li>
              <li><%=link_to "Odhlásit", destroy_lessor_session_path, method: :delete%></li>
              <li><%=link_to "Předměty smlouvy", subjects_path%></li>
               

                <%end%>
               
            <%if !user_signed_in? && !lessor_signed_in? %>
              <li><%=link_to "Registrace nájemníka", new_user_registration_path%></li>
              <li><%=link_to "Registrace Pronajímatele"%></li>
              <li><%=link_to "Přihlásit se jako nájemník", new_user_session_path%></li>
              <li><%=link_to "Přihlásit se jako Pronajímatel", lessor_session_path%></li>
              <li><%=link_to "Předměty smlouvy", subjects_path%></li>
              
          <%end%>



          </ul>

          <!-- Left Nav Section -->


               
             

      
        </section>
      </nav>
    </div>




  
    <div id="main-content" class="row full-min-height">
      <%= yield %>
    </div>

    <footer class="row">
      <div class="large-12 columns">
        <hr>
        <p>© Registr 2015</p>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>




